In [5]:
import numpy as np
import pandas as pd
import json
from math import radians, cos, sin, asin, sqrt

In [6]:
def haversine(lon1, lat1, lon2, lat2): # 经度1，纬度1，经度2，纬度2 （十进制度数）
    """
    Calculate the great circle distance between two points 
    on the earth (specified in decimal degrees)
    """
    # 将十进制度数转化为弧度
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])
 
    # haversine公式
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    r = 6371 # 地球平均半径，单位为公里
    return c * r * 1000

# train

In [7]:
df = pd.read_csv('train.csv')

In [4]:
df.shape

(1710670, 9)

In [10]:
df[df['POLYLINE'] == '[]'].shape

(5901, 9)

In [3]:
df = df[df['MISSING_DATA'] == False]
df[df['POLYLINE'] != '[]']

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1704759 entries, 0 to 1710669
Data columns (total 9 columns):
TRIP_ID         int64
CALL_TYPE       object
ORIGIN_CALL     float64
ORIGIN_STAND    float64
TAXI_ID         int64
TIMESTAMP       int64
DAY_TYPE        object
MISSING_DATA    bool
POLYLINE        object
dtypes: bool(1), float64(2), int64(3), object(3)
memory usage: 118.7+ MB

In [5]:
df.head(3)

,TRIP_ID,CALL_TYPE,ORIGIN_CALL,ORIGIN_STAND,TAXI_ID,TIMESTAMP,DAY_TYPE,MISSING_DATA,POLYLINE
0,1372636858620000589,C,NaN,NaN,20000589,1372636858,A,False,"[[-8.618643,41.141412],[-8.618499,41.141376],[..."
1,1372637303620000596,B,NaN,7.0,20000596,1372637303,A,False,"[[-8.639847,41.159826],[-8.640351,41.159871],[..."
2,1372636951620000320,C,NaN,NaN,20000320,1372636951,A,False,"[[-8.612964,41.140359],[-8.613378,41.14035],[-..."

In [6]:
df['POLYLINE'] = df['POLYLINE'].apply(json.loads)
df['duration'] = ((df['POLYLINE'].apply(len))-1)*15

In [13]:
df = df.reset_index()

In [14]:
df.shape[0]

1704759

In [15]:
start = []
destination = []
for i in range(df.shape[0]):
    start.append(df['POLYLINE'][i][0])
    destination.append(df['POLYLINE'][i][-1])
df['start'] = start    
df['destination'] = destination

In [16]:
df.head()

,index,TRIP_ID,CALL_TYPE,ORIGIN_CALL,ORIGIN_STAND,TAXI_ID,TIMESTAMP,DAY_TYPE,MISSING_DATA,POLYLINE,duration,start,destination
0,0,1372636858620000589,C,NaN,NaN,20000589,1372636858,A,False,"[[-8.618643, 41.141412], [-8.618499, 41.141376...",330,"[-8.618643, 41.141412]","[-8.630838, 41.154489]"
1,1,1372637303620000596,B,NaN,7.0,20000596,1372637303,A,False,"[[-8.639847, 41.159826], [-8.640351, 41.159871...",270,"[-8.639847, 41.159826]","[-8.66574, 41.170671]"
2,2,1372636951620000320,C,NaN,NaN,20000320,1372636951,A,False,"[[-8.612964, 41.140359], [-8.613378, 41.14035]...",960,"[-8.612964, 41.140359]","[-8.61597, 41.14053]"
3,3,1372636854620000520,C,NaN,NaN,20000520,1372636854,A,False,"[[-8.574678, 41.151951], [-8.574705, 41.151942...",630,"[-8.574678, 41.151951]","[-8.607996, 41.142915]"
4,4,1372637091620000337,C,NaN,NaN,20000337,1372637091,A,False,"[[-8.645994, 41.18049], [-8.645949, 41.180517]...",420,"[-8.645994, 41.18049]","[-8.687268, 41.178087]"

In [24]:
df.shape

(1704759, 13)

In [22]:
havers = []
for i in range(df.shape[0]):
    havers.append(haversine(df['start'][i][0], df['start'][i][1], df['destination'][i][0], df['destination'][i][1])) 
df['haversine'] = havers

# 整理好的檔案

In [26]:
df.head()

,index,TRIP_ID,CALL_TYPE,ORIGIN_CALL,ORIGIN_STAND,TAXI_ID,TIMESTAMP,DAY_TYPE,MISSING_DATA,POLYLINE,duration,start,destination,haversine
0,0,1372636858620000589,C,NaN,NaN,20000589,1372636858,A,False,"[[-8.618643, 41.141412], [-8.618499, 41.141376...",330,"[-8.618643, 41.141412]","[-8.630838, 41.154489]",1776.807571
1,1,1372637303620000596,B,NaN,7.0,20000596,1372637303,A,False,"[[-8.639847, 41.159826], [-8.640351, 41.159871...",270,"[-8.639847, 41.159826]","[-8.66574, 41.170671]",2480.360461
2,2,1372636951620000320,C,NaN,NaN,20000320,1372636951,A,False,"[[-8.612964, 41.140359], [-8.613378, 41.14035]...",960,"[-8.612964, 41.140359]","[-8.61597, 41.14053]",252.441979
3,3,1372636854620000520,C,NaN,NaN,20000520,1372636854,A,False,"[[-8.574678, 41.151951], [-8.574705, 41.151942...",630,"[-8.574678, 41.151951]","[-8.607996, 41.142915]",2965.198721
4,4,1372637091620000337,C,NaN,NaN,20000337,1372637091,A,False,"[[-8.645994, 41.18049], [-8.645949, 41.180517]...",420,"[-8.645994, 41.18049]","[-8.687268, 41.178087]",3464.589323

# save txt

In [32]:
df.to_csv(r'train.txt')

In [33]:
textdf = pd.read_csv('train.txt')

In [34]:
textdf.head()

,Unnamed: 0,index,TRIP_ID,CALL_TYPE,ORIGIN_CALL,ORIGIN_STAND,TAXI_ID,TIMESTAMP,DAY_TYPE,MISSING_DATA,POLYLINE,duration,start,destination,haversine
0,0,0,1372636858620000589,C,NaN,NaN,20000589,1372636858,A,False,"[[-8.618643, 41.141412], [-8.618499, 41.141376...",330,"[-8.618643, 41.141412]","[-8.630838, 41.154489]",1776.807571
1,1,1,1372637303620000596,B,NaN,7.0,20000596,1372637303,A,False,"[[-8.639847, 41.159826], [-8.640351, 41.159871...",270,"[-8.639847, 41.159826]","[-8.66574, 41.170671]",2480.360461
2,2,2,1372636951620000320,C,NaN,NaN,20000320,1372636951,A,False,"[[-8.612964, 41.140359], [-8.613378, 41.14035]...",960,"[-8.612964, 41.140359]","[-8.61597, 41.14053]",252.441979
3,3,3,1372636854620000520,C,NaN,NaN,20000520,1372636854,A,False,"[[-8.574678, 41.151951], [-8.574705, 41.151942...",630,"[-8.574678, 41.151951]","[-8.607996, 41.142915]",2965.198721
4,4,4,1372637091620000337,C,NaN,NaN,20000337,1372637091,A,False,"[[-8.645994, 41.18049], [-8.645949, 41.180517]...",420,"[-8.645994, 41.18049]","[-8.687268, 41.178087]",3464.589323

pd.value_counts(df['POLYLINE'].values, sort=False)

# test

In [20]:
test = pd.read_csv('test.csv')
op1 = pd.read_csv('output1.csv')

In [21]:
type(test.POLYLINE[0])

str

In [22]:
test['POLYLINE'] = test['POLYLINE'].apply(json.loads)
test['duration'] = ((test['POLYLINE'].apply(len))-1)*15

In [28]:
test.head()

,TRIP_ID,CALL_TYPE,ORIGIN_CALL,ORIGIN_STAND,TAXI_ID,TIMESTAMP,DAY_TYPE,MISSING_DATA,POLYLINE,duration
0,T1,B,NaN,15.0,20000542,1408039037,A,False,"[[-8.585676, 41.148522], [-8.585712, 41.148639...",150
1,T2,B,NaN,57.0,20000108,1408038611,A,False,"[[-8.610876, 41.14557], [-8.610858, 41.145579]...",585
2,T3,B,NaN,15.0,20000370,1408038568,A,False,"[[-8.585739, 41.148558], [-8.58573, 41.148828]...",585
3,T4,B,NaN,53.0,20000492,1408039090,A,False,"[[-8.613963, 41.141169], [-8.614125, 41.141124...",105
4,T5,B,NaN,18.0,20000621,1408039177,A,False,"[[-8.619903, 41.148036], [-8.619894, 41.148036]]",15

In [34]:
start = []
destination = []
for i in range(320):
    start.append(test['POLYLINE'][i][0])
    destination.append(test['POLYLINE'][i][-1])
test['start'] = start    
test['destination'] = destination

In [35]:
test.head()

,TRIP_ID,CALL_TYPE,ORIGIN_CALL,ORIGIN_STAND,TAXI_ID,TIMESTAMP,DAY_TYPE,MISSING_DATA,POLYLINE,duration,start,destination
0,T1,B,NaN,15.0,20000542,1408039037,A,False,"[[-8.585676, 41.148522], [-8.585712, 41.148639...",150,"[-8.585676, 41.148522]","[-8.584884, 41.146623]"
1,T2,B,NaN,57.0,20000108,1408038611,A,False,"[[-8.610876, 41.14557], [-8.610858, 41.145579]...",585,"[-8.610876, 41.14557]","[-8.601894, 41.163597]"
2,T3,B,NaN,15.0,20000370,1408038568,A,False,"[[-8.585739, 41.148558], [-8.58573, 41.148828]...",585,"[-8.585739, 41.148558]","[-8.574903, 41.167719]"
3,T4,B,NaN,53.0,20000492,1408039090,A,False,"[[-8.613963, 41.141169], [-8.614125, 41.141124...",105,"[-8.613963, 41.141169]","[-8.614638, 41.14098]"
4,T5,B,NaN,18.0,20000621,1408039177,A,False,"[[-8.619903, 41.148036], [-8.619894, 41.148036]]",15,"[-8.619903, 41.148036]","[-8.619894, 41.148036]"

In [29]:
type(test.POLYLINE[0])

list

In [8]:
op1.head()

   datapoints  timeinterval
0        11.0         165.0
1        40.0         600.0
2        40.0         600.0
3         8.0         120.0
4         2.0          30.0

# 8888

In [12]:
df = df.drop(['ORIGIN_CALL', 'ORIGIN_STAND'], axis = 1).head()

In [13]:
df.head()

,TRIP_ID,CALL_TYPE,TAXI_ID,TIMESTAMP,DAY_TYPE,MISSING_DATA,POLYLINE
0,1372636858620000589,C,20000589,1372636858,A,False,"[[-8.618643,41.141412],[-8.618499,41.141376],[..."
1,1372637303620000596,B,20000596,1372637303,A,False,"[[-8.639847,41.159826],[-8.640351,41.159871],[..."
2,1372636951620000320,C,20000320,1372636951,A,False,"[[-8.612964,41.140359],[-8.613378,41.14035],[-..."
3,1372636854620000520,C,20000520,1372636854,A,False,"[[-8.574678,41.151951],[-8.574705,41.151942],[..."
4,1372637091620000337,C,20000337,1372637091,A,False,"[[-8.645994,41.18049],[-8.645949,41.180517],[-..."

In [8]:
df.TAXI_ID.unique()

array([20000589, 20000596, 20000320, 20000520, 20000337, 20000231,
       20000456, 20000011, 20000403, 20000233, 20000571, 20000497,
       20000570, 20000005, 20000089, 20000423, 20000657, 20000309,
       20000161, 20000178, 20000235, 20000653, 20000009, 20000648,
       20000424, 20000010, 20000372, 20000686, 20000435, 20000154,
       20000060, 20000167, 20000503, 20000621, 20000463, 20000612,
       20000360, 20000574, 20000173, 20000560, 20000492, 20000112,
       20000305, 20000004, 20000620, 20000671, 20000341, 20000015,
       20000307, 20000171, 20000201, 20000007, 20000199, 20000611,
       20000398, 20000067, 20000569, 20000473, 20000367, 20000672,
       20000190, 20000600, 20000496, 20000013, 20000454, 20000534,
       20000195, 20000406, 20000325, 20000101, 20000632, 20000308,
       20000333, 20000481, 20000486, 20000450, 20000545, 20000665,
       20000012, 20000688, 20000540, 20000436, 20000517, 20000153,
       20000458, 20000577, 20000105, 20000128, 20000616, 20000477,
       20000197, 20000476, 20000480, 20000451, 20000663, 20000386,
       20000561, 20000472, 20000280, 20000565, 20000432, 20000329,
       20000073, 20000397, 20000285, 20000286, 20000024, 20000239,
       20000578, 20000514, 20000152, 20000515, 20000247, 20000344,
       20000184, 20000502, 20000400, 20000256, 20000625, 20000196,
       20000331, 20000678, 20000901, 20000421, 20000229, 20000381,
       20000086, 20000539, 20000242, 20000662, 20000279, 20000076,
       20000351, 20000529, 20000042, 20000408, 20000674, 20000304,
       20000071, 20000038, 20000137, 20000618, 20000179, 20000120,
       20000166, 20000151, 20000434, 20000549, 20000484, 20000075,
       20000542, 20000391, 20000131, 20000346, 20000296, 20000058,
       20000429, 20000268, 20000051, 20000623, 20000021, 20000046,
       20000359, 20000470, 20000114, 20000188, 20000026, 20000077,
       20000499, 20000180, 20000409, 20000562, 20000651, 20000669,
       20000607, 20000049, 20000272, 20000189, 20000455, 20000144,
       20000100, 20000576, 20000554, 20000281, 20000068, 20000050,
       20000039, 20000186, 20000687, 20000104, 20000460, 20000446,
       20000174, 20000255, 20000065, 20000257, 20000192, 20000507,
       20000617, 20000664, 20000027, 20000267, 20000319, 20000380,
       20000251, 20000163, 20000682, 20000361, 20000138, 20000495,
       20000207, 20000349, 20000684, 20000525, 20000045, 20000633,
       20000269, 20000640, 20000258, 20000142, 20000680, 20000116,
       20000001, 20000254, 20000384, 20000377, 20000626, 20000294,
       20000692, 20000030, 20000579, 20000249, 20000440, 20000271,
       20000057, 20000675, 20000588, 20000363, 20000099, 20000326,
       20000148, 20000546, 20000230, 20000113, 20000557, 20000376,
       20000126, 20000006, 20000288, 20000311, 20000598, 20000352,
       20000111, 20000222, 20000085, 20000518, 20000443, 20000330,
       20000508, 20000226, 20000370, 20000602, 20000387, 20000129,
       20000524, 20000048, 20000649, 20000468, 20000467, 20000245,
       20000123, 20000601, 20000093, 20000031, 20000487, 20000261,
       20000676, 20000431, 20000605, 20000107, 20000047, 20000215,
       20000159, 20000156, 20000338, 20000289, 20000410, 20000198,
       20000685, 20000074, 20000516, 20000453, 20000604, 20000345,
       20000697, 20000315, 20000541, 20000158, 20000136, 20000693,
       20000094, 20000014, 20000022, 20000535, 20000054, 20000108,
       20000118, 20000328, 20000608, 20000140, 20000353, 20000395,
       20000083, 20000018, 20000494, 20000619, 20000594, 20000246,
       20000177, 20000040, 20000217, 20000388, 20000615, 20000595,
       20000464, 20000206, 20000092, 20000321, 20000053, 20000356,
       20000216, 20000667, 20000681, 20000036, 20000017, 20000310,
       20000303, 20000146, 20000430, 20000668, 20000324, 20000488,
       20000109, 20000297, 20000521, 20000314, 20000658, 20000172,
       20000392, 20000347, 20000504, 20000055, 20000465, 20000448,
       20000295, 20000452, 20000634, 20000547, 20000080, 20000903,
       20000008, 20000603, 20000041, 20000252, 20000327, 20000513,
       20000095, 20000081, 20000509, 20000343, 20000032, 20000523,
       20000066, 20000419, 20000426, 20000044, 20000483, 20000243,
       20000586, 20000527, 20000624, 20000342, 20000273, 20000900,
       20000334, 20000904, 20000548, 20000482, 20000157, 20000037,
       20000276, 20000572, 20000160, 20000373, 20000084, 20000119,
       20000098, 20000695, 20000224, 20000902, 20000225, 20000250,
       20000023, 20000597, 20000606, 20000263, 20000610, 20000591,
       20000506, 20000072, 20000543, 20000383, 20000020, 20000449,
       20000260, 20000364, 20000393, 20000003, 20000002, 20000187,
       20000205, 20000312, 20000510, 20000389, 20000340, 20000500,
       20000407, 20000980, 20000213, 20000941, 20000969, 20000609,
       20000332, 20000121, 20000362, 20000170, 20000585, 20000185,
       20000698, 20000670, 20000248, 20000079, 20000981, 20000940],
      dtype=int64)

In [7]:
len(df.TAXI_ID.unique())

444

# 8888

In [10]:
missing_values_count = df.isnull().sum()
missing_values_count

TRIP_ID               0
CALL_TYPE             0
ORIGIN_CALL     1340415
ORIGIN_STAND     899986
TAXI_ID               0
TIMESTAMP             0
DAY_TYPE              0
MISSING_DATA          0
POLYLINE              0
dtype: int64