# https://www.kaggle.com/willieliao/beat-the-benchmark

##  Use the weighted average of train trips to estimate trip duration.

In [2]:
import json
import zipfile
import numpy as np
import pandas as pd

In [3]:
##Control the number of trips read for training 
##Control the number of closest trips used to calculate trip duration
##Parameters for train set trips to keep and how much to pad travel time based on polyline

In [4]:
N_read = 80000
N_trips = 100
P_keep = 0.95
P_pad = 1.25

In [7]:
def get_dist(lonlat1, lonlat2):
    lon_diff = np.abs(lonlat1[0]-lonlat2[0])*np.pi/360.0
    lat_diff = np.abs(lonlat1[1]-lonlat2[1])*np.pi/360.0
    a = np.sin(lat_diff)**2 + np.cos(lonlat1[1]*np.pi/180.0) * np.cos(lonlat2[1]*np.pi/180.0) * np.sin(lon_diff)**2  
    d = 2*6371*np.arctan2(np.sqrt(a), np.sqrt(1-a))
    return(d)

## test

In [21]:
zf = zipfile.ZipFile('all (2).zip')
test = pd.read_csv(zf.open('test.csv'), usecols=['TRIP_ID', 'POLYLINE'])
test['POLYLINE'] = test['POLYLINE'].apply(json.loads)
test['snapshots'] = test['POLYLINE'].apply(lambda x: np.log(len(x)))
test['lonlat'] = test['POLYLINE'].apply(lambda x: x[0])
test.drop('POLYLINE', axis=1, inplace=True)

In [22]:
test.head()

  TRIP_ID  snapshots                  lonlat
0      T1   2.397895  [-8.585676, 41.148522]
1      T2   3.688879   [-8.610876, 41.14557]
2      T3   3.688879  [-8.585739, 41.148558]
3      T4   2.079442  [-8.613963, 41.141169]
4      T5   0.693147  [-8.619903, 41.148036]

## train

In [17]:
zf = zipfile.ZipFile('all (2).zip')
train = pd.read_csv(zf.open('train.csv'), usecols=['POLYLINE'], nrows=N_read)
train['POLYLINE'] = train['POLYLINE'].apply(json.loads)
train['snapshots'] = train['POLYLINE'].apply(lambda x: np.log(len(x)))
train = train[train.snapshots>3.0]
train['lonlat'] = train['POLYLINE'].apply(lambda x: x[0])
train.drop('POLYLINE', axis=1, inplace=True)

In [19]:
train.head()

   snapshots                  lonlat
0   3.135494  [-8.618643, 41.141412]
2   4.174387  [-8.612964, 41.140359]
3   3.761200  [-8.574678, 41.151951]
4   3.367296   [-8.645994, 41.18049]
5   3.258097  [-8.615502, 41.140674]

##

行程持續時間的加權平均值
由於我們使用1 /距離^ 2作為重量，因此下方綁定10米
將5％的持續時間最長的旅行作為異常值

In [23]:
test['TRAVEL_TIME'] = 0
for row, ll in enumerate(test['lonlat']):
    d = train['lonlat'].apply(lambda x: get_dist(x, ll))
    i = np.argpartition(d, N_trips)[0:N_trips]
    w = np.maximum(d.iloc[i], 0.01)
    s = train.iloc[i]['snapshots']
    j = np.argpartition(s, int(N_trips*P_keep))[0:int(N_trips*P_keep)]
    test.loc[row, 'TRAVEL_TIME'] = np.maximum(P_pad*test.loc[row, 'snapshots'], np.average(s.iloc[j], weights=1/w.iloc[j]**2))

In [25]:
test.head()

  TRIP_ID  snapshots                  lonlat  TRAVEL_TIME
0      T1   2.397895  [-8.585676, 41.148522]     3.818554
1      T2   3.688879   [-8.610876, 41.14557]     4.611099
2      T3   3.688879  [-8.585739, 41.148558]     4.611099
3      T4   2.079442  [-8.613963, 41.141169]     3.638980
4      T5   0.693147  [-8.619903, 41.148036]     3.779418

In [26]:
test['TRAVEL_TIME'] = 15*np.exp(.5*test['TRAVEL_TIME']+.5*P_pad*np.maximum(test.snapshots.mean(), test['snapshots']))
test['TRAVEL_TIME'] = test['TRAVEL_TIME'].astype(int)
test[['TRIP_ID', 'TRAVEL_TIME']].to_csv('submission.csv', index=False)

In [27]:
test

    TRIP_ID  snapshots                  lonlat  TRAVEL_TIME
0        T1   2.397895  [-8.585676, 41.148522]          766
1        T2   3.688879   [-8.610876, 41.14557]         1508
2        T3   3.688879  [-8.585739, 41.148558]         1508
3        T4   2.079442  [-8.613963, 41.141169]          700
4        T5   0.693147  [-8.619903, 41.148036]          751
5        T6   4.919981  [-8.630613, 41.178249]         7030
6        T7   3.178054  [-8.585622, 41.148918]          827
7        T8   2.833213  [-8.582922, 41.181057]          834
8        T9   3.761200   [-8.606529, 41.14467]         1651
9       T10   4.369448  [-8.585658, 41.148576]         3532
10      T11   4.143135  [-8.591229, 41.162706]         2662
11      T12   2.833213  [-8.585694, 41.148603]          733
12      T13   1.609438  [-8.580105, 41.159394]          688
13      T14   4.330733   [-8.665353, 41.18616]         3365
14      T15   3.988984  [-8.649423, 41.154354]         2195
15      T16   4.574711  [-8.618373, 41.136003]         4566
16      T17   3.295837  [-8.627094, 41.166936]          923
17      T18   4.143135  [-8.607861, 41.146236]         2662
18      T19   3.433987  [-8.585667, 41.148567]         1097
19      T20   5.099866  [-8.667414, 41.161671]         8803
20      T21   1.791759   [-8.585712, 41.14854]          798
21      T22   2.564949  [-8.612757, 41.137722]          724
22      T23   2.890372  [-8.625816, 41.151294]          691
23      T24   1.386294  [-8.585658, 41.148486]          768
24      T25   2.302585  [-8.630667, 41.154867]          700
25      T26   2.484907   [-8.60283, 41.179644]          784
26      T27   1.609438   [-8.59212, 41.160735]          687
27      T28   1.098612    [-8.585685, 41.1489]          766
28      T29   3.931826  [-8.628777, 41.160978]         2044
29      T30   3.688879   [-8.58573, 41.148513]         1508
..      ...        ...                     ...          ...
290    T298   2.772589  [-8.627697, 41.175432]          716
291    T299   3.332205  [-8.661942, 41.183703]          966
292    T300   3.970292  [-8.573454, 41.147199]         2145
293    T301   4.290459  [-8.606403, 41.144454]         3200
294    T302   3.401197  [-8.610264, 41.140845]         1053
295    T303   1.098612  [-8.612136, 41.172849]          690
296    T304   2.302585  [-8.641251, 41.165658]          721
297    T305   3.401197  [-8.613891, 41.141286]         1053
298    T306   2.708050  [-8.620461, 41.156514]          716
299    T307   4.330733   [-8.617581, 41.14611]         3365
300    T308   3.637586  [-8.588457, 41.148558]         1415
301    T309   1.386294  [-8.589096, 41.155506]          781
302    T310   2.639057  [-8.668575, 41.157891]          716
303    T311   3.526361   [-8.607456, 41.14872]         1231
304    T312   3.258097  [-8.617113, 41.160042]          880
305    T313   3.258097  [-8.628984, 41.165874]          880
306    T314   2.995732  [-8.619723, 41.161905]          738
307    T315   3.091042   [-8.623566, 41.14431]          784
308    T316   3.044522  [-8.610723, 41.144472]          812
309    T317   3.218876  [-8.640603, 41.154948]          849
310    T318   2.944439  [-8.689293, 41.168169]          769
311    T319   4.276666  [-8.606358, 41.144526]         3145
312    T320   3.806662  [-8.612532, 41.159493]         1748
313    T321   5.587249  [-8.667468, 41.238099]        16189
314    T322   3.850148  [-8.606466, 41.144697]         1845
315    T323   3.871201  [-8.570196, 41.159484]         1895
316    T324   4.543295  [-8.613873, 41.141232]         4390
317    T325   1.791759    [-8.6481, 41.152536]          826
318    T326   2.708050  [-8.571699, 41.156073]          744
319    T327   3.951244  [-8.574561, 41.180184]         2094

[320 rows x 4 columns]